doctype html

html(lang='en')
  
  head
    meta(charset='UTF-8')
    meta(
      name="viewport" 
      content="width=device-width, initial-scale=1"
    )
    title Dva Demo
    link(
      rel="stylesheet"
      href="index.css"
    )  
    
  body
    #root
      
    script(src='roadhog.dll.js')
      
    script(src='index.js')
