@import url('https://fonts.proxy.ustclug.org/css?family=Poppins|Source+Code+Pro')

html
  box-sizing: border-box
  font-size: 62.5%

*, *:before, *:after
  box-sizing: inherit

button, input, textarea
  outline: none